[defaults]
inventory = inventory/hosts
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .cache/facts
fact_caching_timeout = 3600
stdout_callback = ansible.builtin.default
result_format = yaml
callback_whitelist = profile_tasks
roles_path = roles
collections_path = /home/hermes/Automation/collections
vault_password_file = ~/.vault_pass

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-%%h-%%p-%%r
